[bumpversion]
current_version = 0.1.0
commit = True
tag = True

[bumpversion:file:setup.py]

[bumpversion:file:README.rst]

[bumpversion:file:docs/conf.py]

[bumpversion:file:src/rest_checkout/__init__.py]

